<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org/" ng-app="journeyApp">

<head>
    <meta charset="utf-8" />
    <title>Tour App</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://code.angularjs.org/1.3.14/angular.js"></script>
    <script src="js/lodash.min.js"></script>
    <script src="js/angular-google-maps.min.js"></script>
    <script type='text/javascript' src='js/appHandler.js'></script><!--script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--css-->
    <style type="text/css">

        #map_canvas {
         height: 400px;
         width: 100%;
        }

        .angular-google-map-container {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
    </style>
</head>

<body class="container" ng-cloak>
  <div class="row" ng-controller="mainCtrl">
    <div class="page-header">
      <h1>On demand Journey at your disposal </h1>
    </div>
    <div class="col-sm-2 col-xs-12" ng-controller="buttonCtrl">
      <button class="btn btn-primary" ng-click="createMarker()">Drop</button> <img src="img/marker.png" />
      <p></p>
      <button class="btn btn-primary" ng-click="createJourney()">Journey</button>
      <p></p>
      <p>
        Total <img src="img/marker.png" />: {{totalMarkers}}
      </p>
      <p>
        Total journeys: {{journeys.length}}
      </p>

      <p><strong>Not yet finishes</strong></p>
    </div>
    <div class="col-sm-8 col-xs-12">
      <div id="map_canvas">
      <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
          <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" click="onMarkerClicked(marker.id)">
          </ui-gmap-marker>
          <ui-gmap-polylines models="journeys" path="'geotracks'" static="true"></ui-gmap-polylines>
      </ui-gmap-google-map>
  </div>
    </div>
  </div>

<!--example-->
</body>

</html>
